body {
	background: url(../img/Layer.jpg) no-repeat center center;
	background-size: cover;
    font-size: 14px;
    color: #fff;
}
footer {
	background: url(../img/footer.png) repeat center center;
}
